@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:200|Work+Sans:100,200);
/*http://erikflowers.github.io/weather-icons/*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    color: #333;
    text-align: center;
}

body {
    background-color: #ccddee;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#root {
    width: 100vw;
    height: 100vh;
}


.main-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.2);
}

.forecast-box {
    align-self: center;
    width: 100%;
    max-width: 400px;
    height: 90vh;
}

.city-name {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.country {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 200;
}

.temperature {
    margin-top: 15px;
    font-weight: 100;
    letter-spacing: -0.3rem;
    font-size: 5rem;
}

.super-small {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0;
}

/*weather classes*/


.thunderstorm {
    background-image: #FFC300;
}

.drizzle {
    background: blue;
}

.rain {
    background: navy;
}

.snow {
    background: #008080;
}

.atmosphere {
    background: pink;
}

.clear {
    background: white;
}

.clouds {
    background: gray;
}

.extreme {
    background: yellow;
}

.additional {
    background: green;
}

.unknown {
    background: blue;
}
